.header {
   //  background-color: var(--color);
    display: flex;
    justify-content: space-between;
    max-width: 96rem;
    margin: 0 auto;
    padding: .9375rem .9375rem;
    position: sticky;
    top: 0;
   //  top: 0px;

    backdrop-filter: blur(4px);
  
    &Logo {
      margin: auto 0;

    }
    &Nav{ 
       margin: auto 0;
      position: absolute;
        top: 50%;
        left: 50%;
      //  background-color: aquamarine;
       
        transform:translate(-50%, -50%);
       display: flex;
       justify-content: center;
       align-items: center; 
       
    }

    &Ul{
   
        display: flex;
        gap: 14px;
        color: var(--text);
        //  background-color: lightsteelblue;
    }


    // &Li{}
   
     &Right {
      display: flex;
      gap: 30px;
      margin: auto 0;
     }

     &Lang {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
     }

     &LinkLang {
      color: var(--text);
      display: flex;
      align-items: center;
      letter-spacing: .0938rem;
      border-radius: 10px;
      padding: 5px 10px;
      gap: 2px;
     }

     &LinkLang:hover:not(.langSelected){
      color: var(--primary);
   }

     .langSelected {
            border: 2px solid var(--primary);

     }

      &ButtonTheme{
            color: var(--text);
            margin-right: 10px;
            padding: 0px 5px;
            height: 30px;
            cursor: pointer;
            margin: auto 0;
      }

      &ButtonTheme:hover {
         color: var(--primary);
      }

      &UlTheme{
         display: none;
         color: var(--text);
         background-color: var(--option);
         right: 0px;
         bottom: -95px;
         position: absolute;
         border-radius: 10px;
         overflow: hidden;
      }

      .ulThemeActive{
         display: block;
      }

      &LiLeft{
         display: flex;
         gap: 3px;
         align-items: center;
         padding: 5px 20px 5px 8px;
     
      }

      &LiLeft:hover {
         cursor: pointer;
         background-color: var(--option-selected) ;
      }
    
}


@media (max-width: 1000px) { 
      .header {
         // background-color: red;
         backdrop-filter: none;
            
        &Nav{ 
          background-color: var(--option);
         position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;     
        transform: none;
        }
    
        &Ul{
            gap: normal;
            width: 100%;
        }
    
    
        &Li{
         width: 100%;
         text-align: center;
        }
    
         // &Lang {
         //  display: flex;
         //  gap: 10px;
         //  background-color: red;
         //  align-items: center;
         //  justify-content: center;
         // }
    
         &LinkLang {
          font-size: 14px;
         
         }
    
         &LinkLang:hover:not(.langSelected){
          color: var(--primary);
       }
    
         .langSelected {
                border: 2px solid var(--primary);
    
         }
    
          &ButtonTheme{
                color: var(--text);
                margin-right: 10px;
                padding: 0px 5px;
                height: 30px;
                cursor: pointer;
                margin: auto 0;
          }
    
          &ButtonTheme:hover {
             color: var(--primary);
          }
    
          &UlTheme{
             display: none;
             color: var(--text);
             background-color: var(--option);
             right: 0px;
             bottom: -95px;
             position: absolute;
             border-radius: 10px;
             overflow: hidden;
          }
    
          .ulThemeActive{
             display: block;
          }
    
          &LiLeft{
             display: flex;
             gap: 3px;
             align-items: center;
             padding: 5px 20px 5px 8px;
         
          }
    
          &LiLeft:hover {
             cursor: pointer;
             background-color: var(--option-selected) ;
          }
      }
}
