.header {
   //  background-color: var(--color);
    display: flex;
    justify-content: space-between;
    max-width: 96rem;
    margin: 0 auto;
    padding: .9375rem .9375rem;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(4px);
    
   //  box-shadow: 2px 15px 15px 2px rgba(0, 0, 0, 0.2);
    
   //  &Logo{
   //      background-color: aqua;
   //  }

    &Button{
        // background-color: bisque;
        display: none;
    }
        
    &Nav{ 
    //    padding: .25rem 0;
    //    background-color: palegreen;    
       margin: auto 0;
    }

    &Ul{
   
        display: flex;
        font-size: 1.25rem;
        letter-spacing: .0938rem;
        gap: 40px;
        color: var(--text);
        //  background-color: lightsteelblue;
    }


    // &Li{}
     &Link{
        font-size: .75rem;
        font-weight: bold;
        padding: .625rem 1.25rem;
     }

     &Right {
      // background-color: #CC35FF;
      display: flex;
      gap: 30px;
     }

     &Lang {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
     }

     &LinkLang {
      color: var(--text);
      display: flex;
      align-items: center;
      letter-spacing: .0938rem;
      border-radius: 10px;
      padding: 5px 10px;
      gap: 2px;
     
     }

     &LinkLang:hover:not(.langSelected){
      color: var(--primary);
   }

     .langSelected {
            border: 2px solid var(--primary);

     }

      &ButtonTheme{
            color: var(--text);
            margin-right: 10px;
            padding: 0px 5px;
            height: 30px;
            cursor: pointer;
            margin: auto 0;
      }

      &ButtonTheme:hover {
         color: var(--primary);
      }

      &UlTheme{
         display: none;
         color: var(--text);
         background-color: var(--option);
         right: 0px;
         bottom: -95px;
         position: absolute;
         border-radius: 10px;
         overflow: hidden;
      }

      .ulThemeActive{
         display: block;
      }

      &LiLeft{
         display: flex;
         gap: 3px;
         align-items: center;
         padding: 5px 20px 5px 8px;
     
      }

      &LiLeft:hover {
         cursor: pointer;
         background-color: var(--option-selected) ;
      }

     &Link:hover:not(.isActive){
        color: var(--primary);
     }

    
    
}


@media (max-width: 1000px) { 
      .header {
         background-color: red;
      }
}



