.section {
    //  background-color: red;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    margin: 120px 0 0 0;
    // overflow-x: hidden;


    padding: 0 15px;
 
    &Left{
    //  background-color: blueviolet;

        
   
    }
    
    &H1{
        color: var(--text);
        font-size: 85px;
        line-height: 95px;
        font-weight: 600;
     

    }       
    
    &H2{

        // background-color: chartreuse;
        color: var(--text);
        font-size: 40px;
        margin-bottom: 8px;
        background: linear-gradient(90deg,#CC35FF 2.34%,#4ca5ff 100.78%);
        color: transparent;
        background-clip: text;

    }

    &P {
        // background-color: red;
        color: var(--text-secundary);
        font-size: 22px;
        // color: rgba(246, 244, 244, 0.706);
        // letter-spacing: 2px;
        line-height: 30px;
    }

    &PSpecial {
        background: linear-gradient(90deg,#CC35FF 2.34%,#4ca5ff 100.78%);
        color: transparent;
        background-clip: text;
        // font-weight: bold;
    }


    
    &Div{
        //  background-color: cadetblue;
        display: flex;
        align-items: center;
        // width: 370px;
        // align-items: center;
        // justify-content: space-between;
        // padding: 20px 0 20px 3px ;
        margin: 25px 20px 0 2px ;
       
    }
    
    &CV{
        background: linear-gradient(90deg,#CC35FF 2.34%,#4ca5ff 100.78%);
        color: #ffffff;
        font-size: 15px;
        letter-spacing: 1.5008px;
        font-weight: bold;
        padding: 15px 25px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-right: 30px;
        // margin: 20px 20px 0 2px ;

    }

    &CV:hover {
        transform: scale(1.1);
    }
    
    &Contact{
       border: solid 1px var(--text);

       color: var(--text);
       font-size: 15px;
       letter-spacing: 1.5008px;
       font-weight: bold;
       padding: 14px 24px;
       border-radius: 50px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap: 8px;

    }

    &Contact:hover {
        transform: scale(1.1);
    }

    &Right {
        // background-color: #CC35FF;
        // display: flex;
        // align-items: center;
    

  z-index: -1;
        position: relative;
        // background-color: #CC35FF;
       padding-right: 80px;
    }

}


@media (max-width: 1200px) { 
    .section {
        // background-color: red;
        display: block;
        margin: 40px 0;

        &Left {
            margin: 0 auto;
            text-align: center;
            padding: 70px 0 12px 0;
            // background-color: aqua;
            // width: 100%;
            
        }
        
        &Div{
            //  background-color: cadetblue;
            display: flex;
            align-items: center;
            // width: 370px;
            // align-items: center;
            // justify-content: space-between;
            // padding: 20px 0 20px 3px ;
            // margin: 25px 20px 0 2px ;
            max-width: max-content;
            margin: 25px auto 0 auto ;

           
        }
        
        &CV{
            background: linear-gradient(90deg,#CC35FF 2.34%,#4ca5ff 100.78%);
            color: #ffffff;
            font-size: 15px;
            letter-spacing: 1.5008px;
            font-weight: bold;
            padding: 15px 25px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            margin-right: 30px;
            // margin: 20px 20px 0 2px ;
    
        }
        
        &Contact{
           border: solid 1px var(--text);
    
           color: var(--text);
           font-size: 15px;
           letter-spacing: 1.5008px;
           font-weight: bold;
           padding: 14px 24px;
           border-radius: 50px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           gap: 8px;
    
        }

        &Right {
        width: max-content;
        margin: 0 auto;
        padding: 45px 0;
        }
      
    }

  
}

  @media (max-width: 710px) {
    .section {
        &H1 {
            font-size: 60px;   
            line-height: 70px;
        }

        &H2{
            font-size: 30px;
            // background-color: red;
        }

        &P {

            font-size: 19px;
            line-height: 25px;

        }

        // &CV{
        //     font-size: 10px;
        //    padding: 12px 15px;
        //    gap: 5px
        // }

    //     &Div{
    //         margin-top: -20px;
    //         //  background-color: cadetblue;
    //        width: 270px;
    //    }
        
        // &Contact{
           
        //    font-size: 10px;
        //    padding: 12px 15px;
         
        //    gap: 5px;
    
        // }

        &Right {
            margin-top: 0;
            // background-color: #4ca5ff;
            transform: scale(0.8);
            padding: 18px 0;

        }
    }

  }


  @media (max-width: 510px) {

    .section {
        // background-color: #CC35FF;
        &H1 {
            font-size: 50px;
            line-height: 55px;
        }

        &H2{
            font-size: 20px;
        }

        &P {
            font-size: 15px;
            line-height: 20px;
        }
        
    //     &Div{
    //         // background-color: cadetblue;
    //        width: 190px;

    //    }

        &CV{
            font-size: 12px;
           padding: 13px 17px;
        //    gap: 4px
        }
        
        &Contact{
           
            font-size: 12px;
            padding: 12px 16px;
        }

        &Right {
            margin-top: 0;
            // background-color: #4ca5ff;
            transform: scale(0.7);
            padding: 0;

        }

       
    }

  }


  @media (max-width: 426px) {


.section {
        // background-color: #CC35FF;
        &H1 {
            font-size: 40px;
            line-height: 55px;
        }

        &H2{
            font-size: 18px;
        }

        &P {
            font-size: 12px;
            line-height: 20px;
        }
        
    //     &Div{
    //         // background-color: cadetblue;
    //        width: 190px;

    //    }

        &CV{
            font-size: 12px;
           padding: 13px 17px;
        //    gap: 4px
        }
        
        &Contact{
           
            font-size: 12px;
            padding: 12px 16px;
        }

        &Right {
            margin-top: 0;
            margin: -25px 0;
            // background-color: #4ca5ff;
            transform: scale(0.6);
            padding: 0;

        }
        // &Right {
          
        //     transform: scale(0.3);
        //     padding: 0;

        // }

       
    }
  }




  @media (max-width: 348px) {


    .section {
            // background-color: #CC35FF;
            &H1 {
                font-size: 30px;
                line-height: 45px;
            }
    
            &H2{
                font-size: 16px;
            }
    
            &P {
                font-size: 10px;
                line-height: 15px;
            }
            
        //     &Div{
        //         // background-color: cadetblue;
        //        width: 190px;
    
        //    }
    
            &CV{
                font-size: 10px;
               padding: 11px 15px;
            //    gap: 4px
            }
            
            &Contact{
               
                font-size: 10px;
                padding: 10px 14px;
            }
    
            &Right {
                margin: -80px 0;
                // background-color: #4ca5ff;
                transform: scale(0.4);
                padding: 0;
    
            }    
        }
      }
    


      @media (max-width: 300px) {

        .section {
            // background-color: #CC35FF;

            &H1 {
                font-size: 25px;
                line-height: 40px;
            }
    
            &H2{
                font-size: 13px;
            }
    
            &P {
                font-size: 8px;
                line-height: 12px;
            }
            
        //     &Div{
        //         // background-color: cadetblue;
        //        width: 190px;
    
        //    }
    
            &CV{
                font-size: 8px;
               padding: 9px 13px;
            //    gap: 4px
            }
            
            &Contact{
               
                font-size: 8px;
                padding: 8px 12px;
            }
    
            &Right {
                margin-top: 0;
                margin: -100px -40px;
                // background-color: #4ca5ff;
                transform: scale(0.3);
                padding: 0;
    
            }
    
           
        }
          
      }
