:root {
    --background: rgb(227, 227, 227);
    --text: black;
    --primary: #CC35FF;
    --option: #f1efef;
    --option-selected:#ffffff;
}


.dark {
    --background: black;
    --text: white;
    --option: #1a1a1a;
    --option-selected:#2a2929;
       
}

.Link{
  font-size: 12px;
  letter-spacing: 1.5008px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
}

.headerLink:hover:not(.isActive){
  color: var(--primary);
}

.isActive {
    //   background-color: #CC35FF;
    background-color: var(--primary);
     
      
   }


body {
    background-color: var(--background);
}


/* width */
::-webkit-scrollbar {
    width: .625rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--option-selected); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media (max-width: 1000px) { 
    
    .headerLink:hover:not(.isActive){
      color: var(--primary);
    }
    
    .isActive {
        //   background-color: #CC35FF;
        background-color: var(--primary);
          // border-radius: 50px;
          border-radius: 0;
          // height: 100%;
          
       }

       .logo {
        transform: scale(0.8);
       }

  }


  @media (max-width: 357px){
    .logo {
      transform: scale(0.5);
      margin: 10px 10px 0 0;
    }
  }


  .floating-icons {
    //  background-color: #CC35FF;
    // width: auto;
    // width: 100%;
    height: auto;

 
    animation: rotation 30s infinite linear;


  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

